<div class="product">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item" *ngFor="let src of images; let i = index">
          <img src="{{ src }}" alt="" />
          <div class="p-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
            ducimus.
          </div>
          <button class="btn btn-dark bt-lg p-2">More Info!</button>
        </div>
      </div>
      <div class="button-area">
        <button
          type="button"
          class="prev slider-directional-btn"
          (click)="prev()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="black"
            class="bi bi-caret-left"
            viewBox="0 0 16 16"
          >
            <path
              d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"
            />
          </svg>
        </button>
        <button
          type="button"
          class="next slider-directional-btn"
          (click)="next()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="black"
            class="bi bi-caret-right"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
