<div>
  <div id="background" class="background-slider-container"></div>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between">
        <button
          (mouseover)="clickedLeftSliderBtn()"
          (mouseout)="clickedLeftSliderBtn()"
          [ngClass]="leftIsClicked ? '' : 'border-0'"
          class="bg-transparent sub-nav-slider-button main-slider-btn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="white"
            class="bi bi-caret-left"
            viewBox="0 0 16 16"
          >
            <path
              d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"
            />
          </svg>
        </button>
        <button
          (mouseover)="clickedRightSliderBtn()"
          (mouseout)="clickedRightSliderBtn()"
          (click)="previous()"
          [ngClass]="rightIsClicked ? '' : 'border-0'"
          class="bg-transparent main-slider-btn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="white"
            class="bi bi-caret-right"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <app-first-slider></app-first-slider>
</div>
