.background-slider-container {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-attachment: local;
  background-image: url(https://m.media-amazon.com/images/I/71CX5ePtA7L._SX3000_.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100% 100%;
  mask-image: linear-gradient(to bottom, black 0, transparent 100%);
  z-index: -1;
}

.main-slider-btn {
  height: 50vh;
}
.main-slider-btn:hover {
  border: none;
}
