<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illum
        sapiente nesciunt amet, error dignissimos alias cumque rerum eligendi
        aperiam. Eligendi ex consequatur voluptate saepe fugit consequuntur et
        ad inventore cum doloremque, quidem tempora deserunt fugiat iusto iste
        laborum nam ipsa officiis ipsam recusandae quam. Ullam accusamus
        dolorem, perferendis, assumenda corporis, minima possimus odit nulla
        veniam repudiandae quam suscipit voluptatum.
      </div>
      <div class="col-md-6 p-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
        excepturi soluta consequatur natus quibusdam ullam quod, asperiores
        consectetur perferendis ea nobis! Consectetur, beatae libero velit
        voluptate deleniti sed vero minus corporis exercitationem unde debitis?
        Adipisci vero commodi eos soluta, vitae dicta facere nobis atque sit
        obcaecati voluptate numquam consequuntur recusandae totam autem
        explicabo odio tempora ea minima facilis beatae quis?
      </div>
    </div>
  </div>
</section>
