<app-navigation></app-navigation>

<!--MAIN BACKGROUND CAROUSEL-->
<app-background-carousel></app-background-carousel>
<!--first-carousel-->
<section style="background-color: lightblue">
  <div
    class="container justify-content-around d-flex"
    style="background-color: lightgreen"
  >
    <span class="left-scroll-button">left</span>
    <div class="container justify-content-around">
      <div class="row justify-content-around text-center">
        <div
          class="slider-image-container"
          *ngFor="let src of images; let i = index"
        >
          <img
            *ngIf="this.firstSliderCount === 1"
            src="{{ src }}"
            alt=""
            class="slider-image"
          />
        </div>
      </div>
    </div>

    <span class="left-scroll-button">right</span>
  </div>
</section>
